#sugar-honeycombs-full-container {
    display: flex;
    flex-direction: row;
}

#sugar-honeycombs-full-container #background {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#sugar-honeycombs-full-container #empty-div {
    width: 55%;
}






#sugar-honeycombs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ffffe0;
}



#sugar-honeycombs-container #pregame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #pregame #settings {
    margin-bottom: 10px;
}

#sugar-honeycombs-container #game {
    display: none;
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #game #answer {
    display: flex;
}

#sugar-honeycombs-container #game #answer input {
    margin-right: 1rem;
    width: 16rem;
    margin-bottom: 10px;
}

#sugar-honeycombs-container #postgame {
    display: none;
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #question-text {
    font-weight: bold;
    color: #de8c93;
}

#sugar-honeycombs-container #win-text {
    display: none;
    font-weight: bold;
    color: green;
}

#sugar-honeycombs-container #lose-text {
    display: none;
    font-weight: bold;
    color: red;
}

#sugar-honeycombs-container #audio-btn {
    background-color: #d8b863;
}

#sugar-honeycombs-container #tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}



  