#sugar-honeycombs-full-container {
    display: flex;
    flex-direction: row;
}

#sugar-honeycombs-full-container #background {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#sugar-honeycombs-full-container #empty-div {
    width: 55%;
}



@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-50px); }
    50% { transform: translateX(50px); }
    75% { transform: translateX(-50px); }
    100% { transform: translateX(50px); }
}
#sugar-honeycombs-full-container #overlay-image {
    position: absolute;
    bottom: 0; /* place it at the bottom of the container */
    left: 300; /* place it at the left of the container */
    z-index: 1; /* ensure it's above the background image */
    opacity: 0.9; /* adjust transparency as needed */
    width: 1000px; /* set the exact width */
    height: 800px; /* set the exact height */
    animation: shake 3.5s ease-in-out infinite; /* apply the shake animation */
}

#sugar-honeycombs-full-container #gameover-overlay {
    position: absolute;
    z-index: 1;
    display: flexs; /* Initially hidden, will be displayed with JavaScript */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 25vh; /* Center it vertically */
    left: 35%; /* Center it horizontally */
}



#sugar-honeycombs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ffffe0;
}



#sugar-honeycombs-container #pregame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #pregame #settings {
    margin-bottom: 10px;
}

#sugar-honeycombs-container #game {
    display: none;
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #game #answer {
    display: flex;
}

#sugar-honeycombs-container #game #answer input {
    margin-right: 1rem;
    width: 16rem;
    margin-bottom: 10px;
}

#sugar-honeycombs-container #postgame {
    display: none;
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #question-text {
    font-weight: bold;
    color: #de8c93;
}

#sugar-honeycombs-container #win-text {
    font-weight: bold;
    color: green;
}

#sugar-honeycombs-container #lose-text {
    font-weight: bold;
    color: red;
}

#sugar-honeycombs-container #error {
    flex-direction: column;
    align-items: center;
}


#sugar-honeycombs-container #error-message {
    font-weight: bold;
    color: red;
}



#sugar-honeycombs-container #correct {
    flex-direction: column;
    align-items: center;
}

#sugar-honeycombs-container #correct-message {
    font-weight: bold;
    color: green;
}



#sugar-honeycombs-container #audio-btn {
    background-color: #d8b863;
}


#sugar-honeycombs-container #tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

#sugar-honeycombs-container .red {
    fill: red;
}

#sugar-honeycombs-container #timeout-container {
    width: 100%;
    height: 30px;
    background-color: #ddd; /* background of the container */
}

#sugar-honeycombs-container #timeout-bar { /* Important: #sugar-honeycombs-container is required if you put timeout-bar within the container */
    width: 100%; /* initial full width */
    height: 100%;
    background-color: #4CAF50; /* color of the timeout bar */
}