.progress-container {
    white-space: pre-line;
    display: inline;
}

.left-progress-section {
    float: left;
    padding-left: 5rem;
}

.total-answers {
    font-size: 20px;
    border: 2px solid black;
}

.total-accuracy {
    font-size: 20px;
    border: 2px solid black;
}

.chart-progress-section {
    background-color: white;
}

.right-progress-section {
    float: right;
    border-radius: 1rem;
    border: 2px solid black;
    padding-right: 5rem;
    margin: auto;
}

.accordion {
    list-style: none;
}

.accordion_item {
    border-top: 1px solid #9f9f9f;
}

.button {
    font-size: 16px;
    background-color: #008593;
    color: #fff;
    text-align: left;
    font-weight: 700;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    cursor: pointer;
    border: none;
}

.accordion_item.active .button {
    background-color: #105057;
}

.answer {
    background-color: #105057;
    padding-left: 1rem;
}

.answer_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
}